body {
	background-image: url('../img/pacman-background.jpg');
    background-attachment: fixed;
	color: white;
    margin: 0;
    padding: 0;
}

.hautFixe {
   position: fixed;
   top: 0;
   height: 40px;
   width: 100%;
   border: 0;
   background-image: url('../img/pacman-background.jpg');
}


span.enfant
{
 display: none;
 text-align: center;
}

span.parent:hover .enfant{
	display:block;
}

.ecran {
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondEcran.png');
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 250px;
    padding-top: 40px;
}

@font-face {
    font-family: 'CrackMan';
    src: url('../crackman.ttf') format('truetype');
}

h1 {
	font-family: 'CrackMan';
	color: #FF69CE;
  text-align: center;
	vertical-align: middle;
	font-size: 4em;
	text-shadow: 1px 1px 2px yellow, 0 0 0.5em blue, 0 0 0.2em yellow;
}

nav {
  width: 86%;
  margin: 0px;
}

.pinkyNav{
	width: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav li {
  font-family: 'CrackMan';
	text-shadow: 1px 1px 2px yellow, 0 0 0.5em blue, 0 0 0.2em yellow;
  list-style-type: none;
	font-size: 40px;
  padding: 15px;
}

nav a {
  color: yellow;
}

nav a:hover {
  text-decoration: none;
  color: #FF69CE;
    text-align: center;
}

footer {
   position: fixed;
   bottom:0;
   left: 7%;
   height: 225px;
   width: 86%;
   border: 0;
   background-size: 100%;
   background-image: url('../img/clavierArcade3.png');
   background-position: bottom;
   background-repeat: no-repeat;

}
