body {
	background-color: black;
	color: white;
}

@font-face {
    font-family: 'CrackMan';
    src: url('crackman.ttf') format('truetype');
}

h1 {
	font-family: 'CrackMan';
	color: pink;
        text-align: center;
}

nav {
  height: 100%;
  margin: 0px;
}
nav ul {
  display: flex;
}

nav li {
  font-family: 'CrackMan';
  list-style-type: none;
  padding: 15px;
}

nav a {
  color: yellow;
}

nav a:hover {
  text-decoration: none;
  color: #FF69CE;
}
