body {
	background-color: black;
	color: white;
    
}

@font-face {
    font-family: 'CrackMan';
    src: url('crackman.ttf') format('truetype');
}

h1 {
	font-family: 'CrackMan';
	color: #FF69CE;
  text-align: center;
	font-size: 4em;
	height: 4em;
	text-shadow: 1px 1px 2px yellow, 0 0 0.5em blue, 0 0 0.2em yellow;
}

nav {
  height: 100%;
  margin: 0px;
}
.pinkyNav{
	width: 50px;
}
nav ul {
  display: flex;
}

nav li {
  font-family: 'CrackMan';
	text-shadow: 1px 1px 2px yellow, 0 0 0.5em blue, 0 0 0.2em yellow;
  list-style-type: none;
	font-size: 40px;
  padding: 15px;
}

nav a {
  color: yellow;
}

nav a:hover {
  text-decoration: none;
  color: #FF69CE;
}

footer {
   position: fixed;
   bottom:0;
   height: 211px;
   width: 100%;
   background-size: 100%;
   background-image: url('clavierArcade2.png');
   background-position: bottom;
   background-repeat: no-repeat;

}

.clavier {
   width: 100%;
}
