body {
	background-image: url('https://swall.teahub.io/photos/small/27-274415_pacman-dual-monitor-pacman-background.jpg');
    background-attachment: fixed;
	color: white;
    margin: 0;
    padding: 0;
}

.ecran {
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 250px;
}

@font-face {
    font-family: 'CrackMan';
    src: url('crackman.ttf') format('truetype');
}

h1 {
	font-family: 'CrackMan';
	color: #FF69CE;
  text-align: center;
	font-size: 4em;
	height: 4em;
	text-shadow: 1px 1px 2px yellow, 0 0 0.5em blue, 0 0 0.2em yellow;
}

nav {
  height: 100%;
  margin: 0px;
}

.pinkyNav{
	width: 50px;
}
nav ul {
  display: flex;
}

nav li {
  font-family: 'CrackMan';
	text-shadow: 1px 1px 2px yellow, 0 0 0.5em blue, 0 0 0.2em yellow;
  list-style-type: none;
	font-size: 40px;
  padding: 15px;
}

nav a {
  color: yellow;
}

nav a:hover {
  text-decoration: none;
  color: #FF69CE;
}

footer {
   position: fixed;
   bottom:0;
   left: 7%;
   height: 311px;
   width: 86%;
   border: 0;
   background-size: 100%;
   background-image: url('clavierArcade3.png');
   background-position: bottom;
   background-repeat: no-repeat;

}
