@font-face {
  font-family: 'BDCartoonShoutRegular';
  src: url('BD_Cartoon_Shout-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#all_page{
  background-color: black;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 250px;
}
#pacman {
  display: flex;
  height:450px;
  width:342px;
  margin:20px auto;
}
#shim {
  font-family: BDCartoonShoutRegular;
  position:absolute;
  visibility:hidden;
}
